# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/

# Environment files
.env

# VS Code
.vscode/

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# macOS
.DS_Store
